.*
*.log
Thumbs.db

dist/
build/
node_modules/

!.git*
!.babelrc
!.eslint*
!.yo-rc.json
!.editorconfig

.idea
.DS_Store
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json